.idea
.svn
.tags
.tags_sorted_by_file
.tm_properties
.project
.settings/.jsdtscope
.settings/org.eclipse.wst.validation.prefs
.settings/
.buildpath
*.bak
*.pyc
_notes
node_modules
npm-debug.log
/data/cache/*
/data/dbbackup/*
/data/logs/*
/data/metadata/*
/public/files/*
/public/js/*
/vendor/*
/config
/tmp
/app/vendor
/error_log.log
